.feature-popup-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: clamp(18rem, 22vw, 24rem);
  height: auto;
  gap: clamp(0.45rem, 0.55vw, 0.7rem);

  .feature-popup-text {
    flex: 7;
    display: flex;
    flex-direction: column;

    .popup-title {
      font-weight: lighter;
      margin: 0;
      font-size: clamp(1.08rem, 0.3vw + 0.98rem, 1.28rem);
    }

    .popup-subtitle {
      margin: 0;
      opacity: 0.8;
      padding-top: 0.18rem;
      color: #af8768;
    }

    .popup-description {
      margin: 0;
      padding-top: 0.45rem;
      color: #af8768;
    }
  }

  .popup-image-container {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: clamp(4.6rem, 4.8vw, 5.9rem);

    .popup-image {
      max-width: 148%;
      border-radius: 5px;
      transform: translate(12px, -7px);
    }
  }

  .highlighted-text {
    color: #e4d691;
  }
}
