.background {
  display: flex;
  flex-direction: column;
  height: 100%;
  // Text settings => might need changing?
  color: #af8768;

  // Main Header
  h1 {
    color: #ded3bb;
    text-align: center;
    margin: 0 0 20px 0;
  }

  // Parent grid container
  .grid {
    height: 470px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    >* {
      overflow: auto;

      // Scrollbar styling - copied from Mystic sorry :(
      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: #3e2d22;
      }

      &::-webkit-scrollbar-thumb {
        background: #b89d7b;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #d4b68d;
      }

      /* Firefox scrollbar styling */
      scrollbar-width: thin;
      scrollbar-color: #b89d7b #3e2d22;
    }
  }

  // Grid Children
  // => Flaws
  .div1 {
    grid-area: 1 / 2 / 5 / 3;
  }

  // => Personality Traits
  .div2 {
    grid-area: 1 / 3 / 5 / 4;
  }

  // => Ideals
  .div3 {
    grid-area: 1 / 4 / 5 / 5;
  }

  // => Backstory
  .div4 {
    grid-area: 5 / 2 / 9 / 5;
  }

  // => Bonds
  .div5 {
    grid-area: 1 / 1 / 9 / 2;
  }

  // Individual section styles
  section {
    background-color: #ded3bb14;
    padding: 15px;

    h2 {
      color: #ded3bb;
      text-align: center;
    }

    border: 2px solid #ded3bb;
    border-radius: 5px;
    position: relative;

    p {
      font-size: 20px;
    }
  }
}