/* src > styles > pages > overview.scss */

.overview-container {
    display: flex;
    flex: 1;
    min-height: 0;
    gap: 0.5rem;

    .overview-left-container {
        flex: 1;
        min-height: 0;
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .saving-throw-container,
        .spellcasting-modifier-container {
            border: 2px dotted #76665c;
            border-radius: 9px;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.25rem;
        }

        .health-container {
            height: 15%;
        }

        .skills-container {
            height: 65%;
            overflow-y: auto;
        }

        .spellcasting-modifier-container {
            height: 20%;
        }
    }

    .overview-right-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .action-container {
            border: 2px dotted #76665c;
            border-radius: 9px;
            padding: 1rem;
        }

        .environment-container {
            height: 70%;
        }

        .action-container {
            height: 30%;
        }
    }
}